name: Deploy whatsapp Development
on:
  push:
    branches:
    - feature/initial
env:
  enviromentName: dev
jobs:
  Deployment:
    runs-on: ubuntu-latest
    environment:
      name: dev
      url: https://d3ri3uhvzvztpt.cloudfront.net/
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Build
        run: |
          cd whatsapp
          npm install
      - name: Deploy
        run: |
          zip -r deploy1.zip ./whatsapp
          aws lambda update-function-code \
            --function-name ${{ vars.LAMBDAWPNAME }} \
            --zip-fil "fileb://./deploy1.zip" \
      - name: Updating Function 
        run: |
          sleep 10
      - name: Configutation
        run: |
          aws lambda update-function-configuration --function-name ${{ vars.LAMBDAWPNAME }} \
            --environment "Variables={TOKEN=${{ secrets.WP_TOKEN}},WHATSAPPID=${{vars.WP_WHATSAPPID}}}" 